<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm) " *ngIf="!isLoading" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        ngModel
        placeholder="Email"
        name="email"
        #emailInput="ngModel"
        required
        email
      >
      <mat-error *ngIf="emailInput.invalid">Not a valid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        ngModel
        type="password"
        placeholder="Password"
        name="password"
        #passwordInput="ngModel"
        required
      >
      <mat-error *ngIf="passwordInput.invalid">Not a valid password</mat-error>
    </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit">
        Login
      </button>
  </form>
</mat-card>
