<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSavePost(postForm)">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Titel"
      >
      <mat-error *ngIf="form.get('title').invalid">Not a valid title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileUploadInput.click()">Upload Image</button>
      <input type="file" #fileUploadInput>
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        placeholder="Your Content"
      ></textarea>
      <hr/>
      <button
        mat-raised-button
        color="primary"
        type="submit">
        Save Post
      </button>
    </mat-form-field>
  </form>
</mat-card>
